.Modal__container .ant-modal-content {
  @apply !p-0;
}

.Modal__container .ant-modal-header {
  @apply px-5 py-4 mb-0;
  border-bottom: 1px solid #d9d9d9;
}

.Modal__container .ant-modal-footer {
  @apply px-5 py-4;
  border-top: 1px solid #d9d9d9;
}

.Modal__container .ant-modal-body {
  @apply px-5 py-4;
}

.Modal__container .ant-modal-footer {
  position: sticky;
  bottom: 0px;
  background-color: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  z-index: 2;
}
